* {
    box-sizing: border-box;
}
.navbar{
    background-color: red;
}
main{
    margin-top: 50px;
    position: relative;
}
.story img{
    position: relative;
    width: 100%;
}
.story h5:hover{
    text-decoration-line: underline;
    text-decoration-color: red;
}
.story-type{
    margin-top: -33px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    color: red;
}
.featured-stories-center{
   
}
.small-story img{
    position: relative;
    width: 100%;
    height: auto;
}
.tiny-story{
    border-top: 1px solid grey;
    margin-top: 20px;
    padding-top: 20px;

}
.debater-top {
    font-size: .75em;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 5px;
    padding-bottom: 15px;
    margin-bottom: 2px;
  }
.vs{
    background-color: black;
    border-radius:50%;
    display: inline;
    vertical-align: middle;
    padding: 10px;
    margin-left: 45%;
    margin-right: auto;
    position: absolute;
}
.debater-bottom{
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    padding-bottom: 5px;
}
.opinion{
    padding-bottom: 10px;
    padding-top: 10px;
}.opinion img{
    height: 60px;
    width: 80px;
}
form{
    border: 1px solid grey;
}
form img{
    height: 30px;
    width: 50px;
    margin-top: 10px;
    margin-right: -10px;
}
.btn-form{
    background-color: red;
}
/*---------IN THE MAGAZINE-----------*/
.article img{
    width: 100%;
    height: 250px;
}
.article1 img{
    height: 400px;
}
.article1 {
    padding-bottom: 20px;
}
.article{
    margin-bottom: 40px;
}
.article1 a{
    padding: 60px;
    padding-top: -15px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 50px;
    width: 100%;
}
.article h6{
    font-size: 20px;
}
.article-headline{
    margin-left: 1px;
    margin-top: 10px;
    
}
/*---Category---*/
.catagory{
    padding-bottom: 30px;
}
.sidebar-story {
    padding-bottom: 20px;
}
.sidebar-story p:hover{
    text-decoration-line: underline;
    text-decoration-color: red;
}
.line{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 20px;    
}
.subscribe{
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-bottom: 20px;
}
.newsletter-image{
    background-image: url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5");
    background-repeat: no-repeat;
    background-size: 100% 400px;

}
.sub-img1{
    z-index: 1;
    position: absolute;
    margin-top: 40px;
    margin-left: 80px;
}
.newsletter, .sub{
    height: 370px;
}
.btn-newsletter, .btn-sub{
    background-color: red;
    width: 200px;
}
.nav-footer{
    background-color: transparent;
}
.list-inline-item a{
    color: black;
}

